/aa.js
/aa-dj.js
/aa-er.js
/aa-et.js
/af.js
/af-na.js
/af-za.js
/agq.js
/agq-cm.js
/ak.js
/ak-gh.js
/am.js
/am-et.js
/angular-locale_aa.js
/angular-locale_aa-dj.js
/angular-locale_aa-er.js
/angular-locale_aa-et.js
/angular-locale_af.js
/angular-locale_af-na.js
/angular-locale_af-za.js
/angular-locale_agq.js
/angular-locale_agq-cm.js
/angular-locale_ak.js
/angular-locale_ak-gh.js
/angular-locale_am.js
/angular-locale_am-et.js
/angular-locale_ar.js
/angular-locale_ar-001.js
/angular-locale_ar-ae.js
/angular-locale_ar-bh.js
/angular-locale_ar-dj.js
/angular-locale_ar-dz.js
/angular-locale_ar-eg.js
/angular-locale_ar-eh.js
/angular-locale_ar-er.js
/angular-locale_ar-il.js
/angular-locale_ar-iq.js
/angular-locale_ar-jo.js
/angular-locale_ar-km.js
/angular-locale_ar-kw.js
/angular-locale_ar-lb.js
/angular-locale_ar-ly.js
/angular-locale_ar-ma.js
/angular-locale_ar-mr.js
/angular-locale_ar-om.js
/angular-locale_ar-ps.js
/angular-locale_ar-qa.js
/angular-locale_ar-sa.js
/angular-locale_ar-sd.js
/angular-locale_ar-so.js
/angular-locale_ar-ss.js
/angular-locale_ar-sy.js
/angular-locale_ar-td.js
/angular-locale_ar-tn.js
/angular-locale_ar-xb.js
/angular-locale_ar-ye.js
/angular-locale_as.js
/angular-locale_asa.js
/angular-locale_asa-tz.js
/angular-locale_as-in.js
/angular-locale_ast.js
/angular-locale_ast-es.js
/angular-locale_az.js
/angular-locale_az-cyrl.js
/angular-locale_az-cyrl-az.js
/angular-locale_az-latn.js
/angular-locale_az-latn-az.js
/angular-locale_bas.js
/angular-locale_bas-cm.js
/angular-locale_be.js
/angular-locale_be-by.js
/angular-locale_bem.js
/angular-locale_bem-zm.js
/angular-locale_bez.js
/angular-locale_bez-tz.js
/angular-locale_bg.js
/angular-locale_bg-bg.js
/angular-locale_bm.js
/angular-locale_bm-latn.js
/angular-locale_bm-latn-ml.js
/angular-locale_bm-ml.js
/angular-locale_bn.js
/angular-locale_bn-bd.js
/angular-locale_bn-in.js
/angular-locale_bo.js
/angular-locale_bo-cn.js
/angular-locale_bo-in.js
/angular-locale_br.js
/angular-locale_br-fr.js
/angular-locale_brx.js
/angular-locale_brx-in.js
/angular-locale_bs.js
/angular-locale_bs-cyrl.js
/angular-locale_bs-cyrl-ba.js
/angular-locale_bs-latn.js
/angular-locale_bs-latn-ba.js
/angular-locale_byn.js
/angular-locale_byn-er.js
/angular-locale_ca.js
/angular-locale_ca-ad.js
/angular-locale_ca-es.js
/angular-locale_ca-es-valencia.js
/angular-locale_ca-fr.js
/angular-locale_ca-it.js
/angular-locale_ce.js
/angular-locale_ce-ru.js
/angular-locale_cgg.js
/angular-locale_cgg-ug.js
/angular-locale_chr.js
/angular-locale_chr-us.js
/angular-locale_ckb.js
/angular-locale_ckb-arab.js
/angular-locale_ckb-arab-iq.js
/angular-locale_ckb-arab-ir.js
/angular-locale_ckb-iq.js
/angular-locale_ckb-ir.js
/angular-locale_ckb-latn.js
/angular-locale_ckb-latn-iq.js
/angular-locale_cs.js
/angular-locale_cs-cz.js
/angular-locale_cu.js
/angular-locale_cu-ru.js
/angular-locale_cy.js
/angular-locale_cy-gb.js
/angular-locale_da.js
/angular-locale_da-dk.js
/angular-locale_da-gl.js
/angular-locale_dav.js
/angular-locale_dav-ke.js
/angular-locale_de-be.js
/angular-locale_de-li.js
/angular-locale_de-lu.js
/angular-locale_dje.js
/angular-locale_dje-ne.js
/angular-locale_dsb.js
/angular-locale_dsb-de.js
/angular-locale_dua.js
/angular-locale_dua-cm.js
/angular-locale_dyo.js
/angular-locale_dyo-sn.js
/angular-locale_dz.js
/angular-locale_dz-bt.js
/angular-locale_ebu.js
/angular-locale_ebu-ke.js
/angular-locale_ee.js
/angular-locale_ee-gh.js
/angular-locale_ee-tg.js
/angular-locale_el.js
/angular-locale_el-cy.js
/angular-locale_el-gr.js
/angular-locale_en-001.js
/angular-locale_en-150.js
/angular-locale_en-ag.js
/angular-locale_en-ai.js
/angular-locale_en-as.js
/angular-locale_en-at.js
/angular-locale_en-au.js
/angular-locale_en-bb.js
/angular-locale_en-be.js
/angular-locale_en-bi.js
/angular-locale_en-bm.js
/angular-locale_en-bs.js
/angular-locale_en-bw.js
/angular-locale_en-bz.js
/angular-locale_en-ca.js
/angular-locale_en-cc.js
/angular-locale_en-ch.js
/angular-locale_en-ck.js
/angular-locale_en-cm.js
/angular-locale_en-cx.js
/angular-locale_en-cy.js
/angular-locale_en-de.js
/angular-locale_en-dg.js
/angular-locale_en-dk.js
/angular-locale_en-dm.js
/angular-locale_en-dsrt.js
/angular-locale_en-dsrt-us.js
/angular-locale_en-er.js
/angular-locale_en-fi.js
/angular-locale_en-fj.js
/angular-locale_en-fk.js
/angular-locale_en-fm.js
/angular-locale_en-gb.js
/angular-locale_en-gd.js
/angular-locale_en-gg.js
/angular-locale_en-gh.js
/angular-locale_en-gi.js
/angular-locale_en-gm.js
/angular-locale_en-gu.js
/angular-locale_en-gy.js
/angular-locale_en-hk.js
/angular-locale_en-ie.js
/angular-locale_en-il.js
/angular-locale_en-im.js
/angular-locale_en-in.js
/angular-locale_en-io.js
/angular-locale_en-iso.js
/angular-locale_en-je.js
/angular-locale_en-jm.js
/angular-locale_en-ke.js
/angular-locale_en-ki.js
/angular-locale_en-kn.js
/angular-locale_en-ky.js
/angular-locale_en-lc.js
/angular-locale_en-lr.js
/angular-locale_en-ls.js
/angular-locale_en-mg.js
/angular-locale_en-mh.js
/angular-locale_en-mo.js
/angular-locale_en-mp.js
/angular-locale_en-ms.js
/angular-locale_en-mt.js
/angular-locale_en-mu.js
/angular-locale_en-mw.js
/angular-locale_en-my.js
/angular-locale_en-na.js
/angular-locale_en-nf.js
/angular-locale_en-ng.js
/angular-locale_en-nl.js
/angular-locale_en-nr.js
/angular-locale_en-nu.js
/angular-locale_en-nz.js
/angular-locale_en-pg.js
/angular-locale_en-ph.js
/angular-locale_en-pk.js
/angular-locale_en-pn.js
/angular-locale_en-pr.js
/angular-locale_en-pw.js
/angular-locale_en-rw.js
/angular-locale_en-sb.js
/angular-locale_en-sc.js
/angular-locale_en-sd.js
/angular-locale_en-se.js
/angular-locale_en-sg.js
/angular-locale_en-sh.js
/angular-locale_en-si.js
/angular-locale_en-sl.js
/angular-locale_en-ss.js
/angular-locale_en-sx.js
/angular-locale_en-sz.js
/angular-locale_en-tc.js
/angular-locale_en-tk.js
/angular-locale_en-to.js
/angular-locale_en-tt.js
/angular-locale_en-tv.js
/angular-locale_en-tz.js
/angular-locale_en-ug.js
/angular-locale_en-um.js
/angular-locale_en-us.js
/angular-locale_en-vc.js
/angular-locale_en-vg.js
/angular-locale_en-vi.js
/angular-locale_en-vu.js
/angular-locale_en-ws.js
/angular-locale_en-xa.js
/angular-locale_en-za.js
/angular-locale_en-zm.js
/angular-locale_en-zw.js
/angular-locale_eo.js
/angular-locale_eo-001.js
/angular-locale_es.js
/angular-locale_es-419.js
/angular-locale_es-ar.js
/angular-locale_es-bo.js
/angular-locale_es-br.js
/angular-locale_es-cl.js
/angular-locale_es-co.js
/angular-locale_es-cr.js
/angular-locale_es-cu.js
/angular-locale_es-do.js
/angular-locale_es-ea.js
/angular-locale_es-ec.js
/angular-locale_es-es.js
/angular-locale_es-gq.js
/angular-locale_es-gt.js
/angular-locale_es-hn.js
/angular-locale_es-ic.js
/angular-locale_es-mx.js
/angular-locale_es-ni.js
/angular-locale_es-pa.js
/angular-locale_es-pe.js
/angular-locale_es-ph.js
/angular-locale_es-pr.js
/angular-locale_es-py.js
/angular-locale_es-sv.js
/angular-locale_es-us.js
/angular-locale_es-uy.js
/angular-locale_es-ve.js
/angular-locale_et.js
/angular-locale_et-ee.js
/angular-locale_eu.js
/angular-locale_eu-es.js
/angular-locale_ewo.js
/angular-locale_ewo-cm.js
/angular-locale_fa.js
/angular-locale_fa-af.js
/angular-locale_fa-ir.js
/angular-locale_ff.js
/angular-locale_ff-cm.js
/angular-locale_ff-gn.js
/angular-locale_ff-mr.js
/angular-locale_ff-sn.js
/angular-locale_fi.js
/angular-locale_fi-fi.js
/angular-locale_fil.js
/angular-locale_fil-ph.js
/angular-locale_fo.js
/angular-locale_fo-dk.js
/angular-locale_fo-fo.js
/angular-locale_fr.js
/angular-locale_fr-be.js
/angular-locale_fr-bf.js
/angular-locale_fr-bi.js
/angular-locale_fr-bj.js
/angular-locale_fr-bl.js
/angular-locale_fr-ca.js
/angular-locale_fr-cd.js
/angular-locale_fr-cf.js
/angular-locale_fr-cg.js
/angular-locale_fr-ch.js
/angular-locale_fr-ci.js
/angular-locale_fr-cm.js
/angular-locale_fr-dj.js
/angular-locale_fr-dz.js
/angular-locale_fr-fr.js
/angular-locale_fr-ga.js
/angular-locale_fr-gf.js
/angular-locale_fr-gn.js
/angular-locale_fr-gp.js
/angular-locale_fr-gq.js
/angular-locale_fr-ht.js
/angular-locale_fr-km.js
/angular-locale_fr-lu.js
/angular-locale_fr-ma.js
/angular-locale_fr-mc.js
/angular-locale_fr-mf.js
/angular-locale_fr-mg.js
/angular-locale_fr-ml.js
/angular-locale_fr-mq.js
/angular-locale_fr-mr.js
/angular-locale_fr-mu.js
/angular-locale_fr-nc.js
/angular-locale_fr-ne.js
/angular-locale_fr-pf.js
/angular-locale_fr-pm.js
/angular-locale_fr-re.js
/angular-locale_fr-rw.js
/angular-locale_fr-sc.js
/angular-locale_fr-sn.js
/angular-locale_fr-sy.js
/angular-locale_fr-td.js
/angular-locale_fr-tg.js
/angular-locale_fr-tn.js
/angular-locale_fr-vu.js
/angular-locale_fr-wf.js
/angular-locale_fr-yt.js
/angular-locale_fur.js
/angular-locale_fur-it.js
/angular-locale_fy.js
/angular-locale_fy-nl.js
/angular-locale_ga.js
/angular-locale_ga-ie.js
/angular-locale_gd.js
/angular-locale_gd-gb.js
/angular-locale_gl.js
/angular-locale_gl-es.js
/angular-locale_gsw.js
/angular-locale_gsw-ch.js
/angular-locale_gsw-fr.js
/angular-locale_gsw-li.js
/angular-locale_gu.js
/angular-locale_gu-in.js
/angular-locale_guz.js
/angular-locale_guz-ke.js
/angular-locale_gv.js
/angular-locale_gv-im.js
/angular-locale_ha.js
/angular-locale_ha-gh.js
/angular-locale_ha-latn.js
/angular-locale_ha-latn-gh.js
/angular-locale_ha-latn-ne.js
/angular-locale_ha-latn-ng.js
/angular-locale_ha-ne.js
/angular-locale_ha-ng.js
/angular-locale_haw.js
/angular-locale_haw-us.js
/angular-locale_he.js
/angular-locale_he-il.js
/angular-locale_hi.js
/angular-locale_hi-in.js
/angular-locale_hr.js
/angular-locale_hr-ba.js
/angular-locale_hr-hr.js
/angular-locale_hsb.js
/angular-locale_hsb-de.js
/angular-locale_hu.js
/angular-locale_hu-hu.js
/angular-locale_hy.js
/angular-locale_hy-am.js
/angular-locale_ia.js
/angular-locale_ia-fr.js
/angular-locale_id.js
/angular-locale_id-id.js
/angular-locale_ig.js
/angular-locale_ig-ng.js
/angular-locale_ii.js
/angular-locale_ii-cn.js
/angular-locale_in.js
/angular-locale_is.js
/angular-locale_is-is.js
/angular-locale_it.js
/angular-locale_it-ch.js
/angular-locale_it-it.js
/angular-locale_it-sm.js
/angular-locale_iw.js
/angular-locale_ja.js
/angular-locale_ja-jp.js
/angular-locale_jgo.js
/angular-locale_jgo-cm.js
/angular-locale_jmc.js
/angular-locale_jmc-tz.js
/angular-locale_ka.js
/angular-locale_kab.js
/angular-locale_kab-dz.js
/angular-locale_ka-ge.js
/angular-locale_kam.js
/angular-locale_kam-ke.js
/angular-locale_kde.js
/angular-locale_kde-tz.js
/angular-locale_kea.js
/angular-locale_kea-cv.js
/angular-locale_khq.js
/angular-locale_khq-ml.js
/angular-locale_ki.js
/angular-locale_ki-ke.js
/angular-locale_kk.js
/angular-locale_kk-cyrl.js
/angular-locale_kk-cyrl-kz.js
/angular-locale_kkj.js
/angular-locale_kkj-cm.js
/angular-locale_kk-kz.js
/angular-locale_kl.js
/angular-locale_kl-gl.js
/angular-locale_kln.js
/angular-locale_kln-ke.js
/angular-locale_km.js
/angular-locale_km-kh.js
/angular-locale_kn.js
/angular-locale_kn-in.js
/angular-locale_ko.js
/angular-locale_kok.js
/angular-locale_kok-in.js
/angular-locale_ko-kp.js
/angular-locale_ko-kr.js
/angular-locale_ks.js
/angular-locale_ks-arab.js
/angular-locale_ks-arab-in.js
/angular-locale_ksb.js
/angular-locale_ksb-tz.js
/angular-locale_ksf.js
/angular-locale_ksf-cm.js
/angular-locale_ksh.js
/angular-locale_ksh-de.js
/angular-locale_ks-in.js
/angular-locale_kw.js
/angular-locale_kw-gb.js
/angular-locale_ky.js
/angular-locale_ky-cyrl.js
/angular-locale_ky-cyrl-kg.js
/angular-locale_ky-kg.js
/angular-locale_lag.js
/angular-locale_lag-tz.js
/angular-locale_lb.js
/angular-locale_lb-lu.js
/angular-locale_lg.js
/angular-locale_lg-ug.js
/angular-locale_lkt.js
/angular-locale_lkt-us.js
/angular-locale_ln.js
/angular-locale_ln-ao.js
/angular-locale_ln-cd.js
/angular-locale_ln-cf.js
/angular-locale_ln-cg.js
/angular-locale_lo.js
/angular-locale_lo-la.js
/angular-locale_lrc.js
/angular-locale_lrc-iq.js
/angular-locale_lrc-ir.js
/angular-locale_lt.js
/angular-locale_lt-lt.js
/angular-locale_lu.js
/angular-locale_lu-cd.js
/angular-locale_luo.js
/angular-locale_luo-ke.js
/angular-locale_luy.js
/angular-locale_luy-ke.js
/angular-locale_lv.js
/angular-locale_lv-lv.js
/angular-locale_mas.js
/angular-locale_mas-ke.js
/angular-locale_mas-tz.js
/angular-locale_mer.js
/angular-locale_mer-ke.js
/angular-locale_mfe.js
/angular-locale_mfe-mu.js
/angular-locale_mg.js
/angular-locale_mgh.js
/angular-locale_mgh-mz.js
/angular-locale_mg-mg.js
/angular-locale_mgo.js
/angular-locale_mgo-cm.js
/angular-locale_mk.js
/angular-locale_mk-mk.js
/angular-locale_ml.js
/angular-locale_ml-in.js
/angular-locale_mn.js
/angular-locale_mn-cyrl.js
/angular-locale_mn-cyrl-mn.js
/angular-locale_mn-mn.js
/angular-locale_mr.js
/angular-locale_mr-in.js
/angular-locale_ms.js
/angular-locale_ms-bn.js
/angular-locale_ms-latn.js
/angular-locale_ms-latn-bn.js
/angular-locale_ms-latn-my.js
/angular-locale_ms-latn-sg.js
/angular-locale_ms-my.js
/angular-locale_ms-sg.js
/angular-locale_mt.js
/angular-locale_mt-mt.js
/angular-locale_mua.js
/angular-locale_mua-cm.js
/angular-locale_my.js
/angular-locale_my-mm.js
/angular-locale_mzn.js
/angular-locale_mzn-ir.js
/angular-locale_naq.js
/angular-locale_naq-na.js
/angular-locale_nb.js
/angular-locale_nb-no.js
/angular-locale_nb-sj.js
/angular-locale_nd.js
/angular-locale_nd-zw.js
/angular-locale_ne.js
/angular-locale_ne-in.js
/angular-locale_ne-np.js
/angular-locale_nl.js
/angular-locale_nl-aw.js
/angular-locale_nl-be.js
/angular-locale_nl-bq.js
/angular-locale_nl-cw.js
/angular-locale_nl-nl.js
/angular-locale_nl-sr.js
/angular-locale_nl-sx.js
/angular-locale_nmg.js
/angular-locale_nmg-cm.js
/angular-locale_nn.js
/angular-locale_nnh.js
/angular-locale_nnh-cm.js
/angular-locale_nn-no.js
/angular-locale_no.js
/angular-locale_no-no.js
/angular-locale_nr.js
/angular-locale_nr-za.js
/angular-locale_nso.js
/angular-locale_nso-za.js
/angular-locale_nus.js
/angular-locale_nus-sd.js
/angular-locale_nus-ss.js
/angular-locale_nyn.js
/angular-locale_nyn-ug.js
/angular-locale_om.js
/angular-locale_om-et.js
/angular-locale_om-ke.js
/angular-locale_or.js
/angular-locale_or-in.js
/angular-locale_os.js
/angular-locale_os-ge.js
/angular-locale_os-ru.js
/angular-locale_pa.js
/angular-locale_pa-arab.js
/angular-locale_pa-arab-pk.js
/angular-locale_pa-guru.js
/angular-locale_pa-guru-in.js
/angular-locale_pl.js
/angular-locale_pl-pl.js
/angular-locale_prg.js
/angular-locale_prg-001.js
/angular-locale_ps.js
/angular-locale_ps-af.js
/angular-locale_pt.js
/angular-locale_pt-ao.js
/angular-locale_pt-br.js
/angular-locale_pt-ch.js
/angular-locale_pt-cv.js
/angular-locale_pt-gq.js
/angular-locale_pt-gw.js
/angular-locale_pt-lu.js
/angular-locale_pt-mo.js
/angular-locale_pt-mz.js
/angular-locale_pt-pt.js
/angular-locale_pt-st.js
/angular-locale_pt-tl.js
/angular-locale_qu.js
/angular-locale_qu-bo.js
/angular-locale_qu-ec.js
/angular-locale_qu-pe.js
/angular-locale_rm.js
/angular-locale_rm-ch.js
/angular-locale_rn.js
/angular-locale_rn-bi.js
/angular-locale_ro.js
/angular-locale_rof.js
/angular-locale_rof-tz.js
/angular-locale_ro-md.js
/angular-locale_ro-ro.js
/angular-locale_ru.js
/angular-locale_ru-by.js
/angular-locale_ru-kg.js
/angular-locale_ru-kz.js
/angular-locale_ru-md.js
/angular-locale_ru-ru.js
/angular-locale_ru-ua.js
/angular-locale_rw.js
/angular-locale_rwk.js
/angular-locale_rwk-tz.js
/angular-locale_rw-rw.js
/angular-locale_sah.js
/angular-locale_sah-ru.js
/angular-locale_saq.js
/angular-locale_saq-ke.js
/angular-locale_sbp.js
/angular-locale_sbp-tz.js
/angular-locale_se.js
/angular-locale_se-fi.js
/angular-locale_seh.js
/angular-locale_seh-mz.js
/angular-locale_se-no.js
/angular-locale_ses.js
/angular-locale_se-se.js
/angular-locale_ses-ml.js
/angular-locale_sg.js
/angular-locale_sg-cf.js
/angular-locale_shi.js
/angular-locale_shi-latn.js
/angular-locale_shi-latn-ma.js
/angular-locale_shi-tfng.js
/angular-locale_shi-tfng-ma.js
/angular-locale_si.js
/angular-locale_si-lk.js
/angular-locale_sk.js
/angular-locale_sk-sk.js
/angular-locale_sl.js
/angular-locale_sl-si.js
/angular-locale_smn.js
/angular-locale_smn-fi.js
/angular-locale_sn.js
/angular-locale_sn-zw.js
/angular-locale_so.js
/angular-locale_so-dj.js
/angular-locale_so-et.js
/angular-locale_so-ke.js
/angular-locale_so-so.js
/angular-locale_sq.js
/angular-locale_sq-al.js
/angular-locale_sq-mk.js
/angular-locale_sq-xk.js
/angular-locale_sr.js
/angular-locale_sr-cyrl.js
/angular-locale_sr-cyrl-ba.js
/angular-locale_sr-cyrl-me.js
/angular-locale_sr-cyrl-rs.js
/angular-locale_sr-cyrl-xk.js
/angular-locale_sr-latn.js
/angular-locale_sr-latn-ba.js
/angular-locale_sr-latn-me.js
/angular-locale_sr-latn-rs.js
/angular-locale_sr-latn-xk.js
/angular-locale_ss.js
/angular-locale_ss-sz.js
/angular-locale_ssy.js
/angular-locale_ssy-er.js
/angular-locale_ss-za.js
/angular-locale_st.js
/angular-locale_st-ls.js
/angular-locale_st-za.js
/angular-locale_sv.js
/angular-locale_sv-ax.js
/angular-locale_sv-fi.js
/angular-locale_sv-se.js
/angular-locale_sw.js
/angular-locale_swc.js
/angular-locale_swc-cd.js
/angular-locale_sw-cd.js
/angular-locale_sw-ke.js
/angular-locale_sw-tz.js
/angular-locale_sw-ug.js
/angular-locale_ta.js
/angular-locale_ta-in.js
/angular-locale_ta-lk.js
/angular-locale_ta-my.js
/angular-locale_ta-sg.js
/angular-locale_te.js
/angular-locale_te-in.js
/angular-locale_teo.js
/angular-locale_teo-ke.js
/angular-locale_teo-ug.js
/angular-locale_tg.js
/angular-locale_tg-cyrl.js
/angular-locale_tg-cyrl-tj.js
/angular-locale_th.js
/angular-locale_th-th.js
/angular-locale_ti.js
/angular-locale_ti-er.js
/angular-locale_ti-et.js
/angular-locale_tig.js
/angular-locale_tig-er.js
/angular-locale_tk.js
/angular-locale_tk-tm.js
/angular-locale_tl.js
/angular-locale_tn.js
/angular-locale_tn-bw.js
/angular-locale_tn-za.js
/angular-locale_to.js
/angular-locale_to-to.js
/angular-locale_tr.js
/angular-locale_tr-cy.js
/angular-locale_tr-tr.js
/angular-locale_ts.js
/angular-locale_ts-za.js
/angular-locale_twq.js
/angular-locale_twq-ne.js
/angular-locale_tzm.js
/angular-locale_tzm-latn.js
/angular-locale_tzm-latn-ma.js
/angular-locale_tzm-ma.js
/angular-locale_ug.js
/angular-locale_ug-arab.js
/angular-locale_ug-arab-cn.js
/angular-locale_ug-cn.js
/angular-locale_uk.js
/angular-locale_uk-ua.js
/angular-locale_ur.js
/angular-locale_ur-in.js
/angular-locale_ur-pk.js
/angular-locale_uz.js
/angular-locale_uz-arab.js
/angular-locale_uz-arab-af.js
/angular-locale_uz-cyrl.js
/angular-locale_uz-cyrl-uz.js
/angular-locale_uz-latn.js
/angular-locale_uz-latn-uz.js
/angular-locale_vai.js
/angular-locale_vai-latn.js
/angular-locale_vai-latn-lr.js
/angular-locale_vai-vaii.js
/angular-locale_vai-vaii-lr.js
/angular-locale_ve.js
/angular-locale_ve-za.js
/angular-locale_vi.js
/angular-locale_vi-vn.js
/angular-locale_vo.js
/angular-locale_vo-001.js
/angular-locale_vun.js
/angular-locale_vun-tz.js
/angular-locale_wae.js
/angular-locale_wae-ch.js
/angular-locale_wal.js
/angular-locale_wal-et.js
/angular-locale_xh.js
/angular-locale_xh-za.js
/angular-locale_xog.js
/angular-locale_xog-ug.js
/angular-locale_yav.js
/angular-locale_yav-cm.js
/angular-locale_yi.js
/angular-locale_yi-001.js
/angular-locale_yo.js
/angular-locale_yo-bj.js
/angular-locale_yo-ng.js
/angular-locale_yue.js
/angular-locale_yue-hk.js
/angular-locale_zgh.js
/angular-locale_zgh-ma.js
/angular-locale_zh.js
/angular-locale_zh-cn.js
/angular-locale_zh-hans.js
/angular-locale_zh-hans-cn.js
/angular-locale_zh-hans-hk.js
/angular-locale_zh-hans-mo.js
/angular-locale_zh-hans-sg.js
/angular-locale_zh-hant.js
/angular-locale_zh-hant-hk.js
/angular-locale_zh-hant-mo.js
/angular-locale_zh-hant-tw.js
/angular-locale_zh-hk.js
/angular-locale_zh-tw.js
/angular-locale_zu.js
/angular-locale_zu-za.js
/ar.js
/ar-001.js
/ar-ae.js
/ar-bh.js
/ar-dj.js
/ar-dz.js
/ar-eg.js
/ar-eh.js
/ar-er.js
/ar-il.js
/ar-iq.js
/ar-jo.js
/ar-km.js
/ar-kw.js
/ar-lb.js
/ar-ly.js
/ar-ma.js
/ar-mr.js
/ar-om.js
/ar-ps.js
/ar-qa.js
/ar-sa.js
/ar-sd.js
/ar-so.js
/ar-ss.js
/ar-sy.js
/ar-td.js
/ar-tn.js
/ar-xb.js
/ar-ye.js
/as.js
/asa.js
/asa-tz.js
/as-in.js
/ast.js
/ast-es.js
/az.js
/az-cyrl.js
/az-cyrl-az.js
/az-latn.js
/az-latn-az.js
/bas.js
/bas-cm.js
/be.js
/be-by.js
/bem.js
/bem-zm.js
/bez.js
/bez-tz.js
/bg.js
/bg-bg.js
/bm.js
/bm-latn.js
/bm-latn-ml.js
/bm-ml.js
/bn.js
/bn-bd.js
/bn-in.js
/bo.js
/bo-cn.js
/bo-in.js
/bower.json
/br.js
/br-fr.js
/brx.js
/brx-in.js
/bs.js
/bs-cyrl.js
/bs-cyrl-ba.js
/bs-latn.js
/bs-latn-ba.js
/byn.js
/byn-er.js
/ca.js
/ca-ad.js
/ca-es.js
/ca-es-valencia.js
/ca-fr.js
/ca-it.js
/ce.js
/ce-ru.js
/cgg.js
/cgg-ug.js
/chr.js
/chr-us.js
/ckb.js
/ckb-arab.js
/ckb-arab-iq.js
/ckb-arab-ir.js
/ckb-iq.js
/ckb-ir.js
/ckb-latn.js
/ckb-latn-iq.js
/cs.js
/cs-cz.js
/cu.js
/cu-ru.js
/cy.js
/cy-gb.js
/da.js
/da-dk.js
/da-gl.js
/dav.js
/dav-ke.js
/de-be.js
/de-lu.js
/dje.js
/dje-ne.js
/dsb.js
/dsb-de.js
/dua.js
/dua-cm.js
/dyo.js
/dyo-sn.js
/dz.js
/dz-bt.js
/ebu.js
/ebu-ke.js
/ee.js
/ee-gh.js
/ee-tg.js
/el.js
/el-cy.js
/el-gr.js
/en-001.js
/en-150.js
/en-ag.js
/en-ai.js
/en-as.js
/en-at.js
/en-au.js
/en-bb.js
/en-be.js
/en-bi.js
/en-bm.js
/en-bs.js
/en-bw.js
/en-bz.js
/en-ca.js
/en-cc.js
/en-ch.js
/en-ck.js
/en-cm.js
/en-cx.js
/en-cy.js
/en-de.js
/en-dg.js
/en-dk.js
/en-dm.js
/en-dsrt.js
/en-dsrt-us.js
/en-er.js
/en-fi.js
/en-fj.js
/en-fk.js
/en-fm.js
/en-gb.js
/en-gd.js
/en-gg.js
/en-gh.js
/en-gi.js
/en-gm.js
/en-gu.js
/en-gy.js
/en-hk.js
/en-ie.js
/en-il.js
/en-im.js
/en-in.js
/en-io.js
/en-iso.js
/en-je.js
/en-jm.js
/en-ke.js
/en-ki.js
/en-kn.js
/en-ky.js
/en-lc.js
/en-lr.js
/en-ls.js
/en-mg.js
/en-mh.js
/en-mo.js
/en-mp.js
/en-ms.js
/en-mt.js
/en-mu.js
/en-mw.js
/en-my.js
/en-na.js
/en-nf.js
/en-ng.js
/en-nl.js
/en-nr.js
/en-nu.js
/en-nz.js
/en-pg.js
/en-ph.js
/en-pk.js
/en-pn.js
/en-pr.js
/en-pw.js
/en-rw.js
/en-sb.js
/en-sc.js
/en-sd.js
/en-se.js
/en-sg.js
/en-sh.js
/en-si.js
/en-sl.js
/en-ss.js
/en-sx.js
/en-sz.js
/en-tc.js
/en-tk.js
/en-to.js
/en-tt.js
/en-tv.js
/en-tz.js
/en-ug.js
/en-um.js
/en-us.js
/en-vc.js
/en-vg.js
/en-vi.js
/en-vu.js
/en-ws.js
/en-xa.js
/en-za.js
/en-zm.js
/en-zw.js
/eo.js
/eo-001.js
/es.js
/es-419.js
/es-ar.js
/es-bo.js
/es-br.js
/es-cl.js
/es-co.js
/es-cr.js
/es-cu.js
/es-do.js
/es-ea.js
/es-ec.js
/es-es.js
/es-gq.js
/es-gt.js
/es-hn.js
/es-ic.js
/es-mx.js
/es-ni.js
/es-pa.js
/es-pe.js
/es-ph.js
/es-pr.js
/es-py.js
/es-sv.js
/es-us.js
/es-uy.js
/es-ve.js
/et.js
/et-ee.js
/eu.js
/eu-es.js
/ewo.js
/ewo-cm.js
/fa.js
/fa-af.js
/fa-ir.js
/ff.js
/ff-cm.js
/ff-gn.js
/ff-mr.js
/ff-sn.js
/fi.js
/fi-fi.js
/fil.js
/fil-ph.js
/fo.js
/fo-dk.js
/fo-fo.js
/fr.js
/fr-be.js
/fr-bf.js
/fr-bi.js
/fr-bj.js
/fr-bl.js
/fr-ca.js
/fr-cd.js
/fr-cf.js
/fr-cg.js
/fr-ch.js
/fr-ci.js
/fr-cm.js
/fr-dj.js
/fr-dz.js
/fr-fr.js
/fr-ga.js
/fr-gf.js
/fr-gn.js
/fr-gp.js
/fr-gq.js
/fr-ht.js
/fr-km.js
/fr-lu.js
/fr-ma.js
/fr-mc.js
/fr-mf.js
/fr-mg.js
/fr-ml.js
/fr-mq.js
/fr-mr.js
/fr-mu.js
/fr-nc.js
/fr-ne.js
/fr-pf.js
/fr-pm.js
/fr-re.js
/fr-rw.js
/fr-sc.js
/fr-sn.js
/fr-sy.js
/fr-td.js
/fr-tg.js
/fr-tn.js
/fr-vu.js
/fr-wf.js
/fr-yt.js
/fur.js
/fur-it.js
/fy.js
/fy-nl.js
/ga.js
/ga-ie.js
/gd.js
/gd-gb.js
/gl.js
/gl-es.js
/gsw.js
/gsw-ch.js
/gsw-fr.js
/gsw-li.js
/gu.js
/gu-in.js
/guz.js
/guz-ke.js
/gv.js
/gv-im.js
/ha.js
/ha-gh.js
/ha-latn.js
/ha-latn-gh.js
/ha-latn-ne.js
/ha-latn-ng.js
/ha-ne.js
/ha-ng.js
/haw.js
/haw-us.js
/he.js
/he-il.js
/hi.js
/hi-in.js
/hr.js
/hr-ba.js
/hr-hr.js
/hsb.js
/hsb-de.js
/hu.js
/hu-hu.js
/hy.js
/hy-am.js
/ia.js
/ia-fr.js
/id.js
/id-id.js
/ig.js
/ig-ng.js
/ii.js
/ii-cn.js
/in.js
/is.js
/is-is.js
/it.js
/it-ch.js
/it-it.js
/it-sm.js
/iw.js
/ja.js
/ja-jp.js
/jgo.js
/jgo-cm.js
/jmc.js
/jmc-tz.js
/ka.js
/kab.js
/kab-dz.js
/ka-ge.js
/kam.js
/kam-ke.js
/kde.js
/kde-tz.js
/kea.js
/kea-cv.js
/khq.js
/khq-ml.js
/ki.js
/ki-ke.js
/kk.js
/kk-cyrl.js
/kk-cyrl-kz.js
/kkj.js
/kkj-cm.js
/kk-kz.js
/kl.js
/kl-gl.js
/kln.js
/kln-ke.js
/km.js
/km-kh.js
/kn.js
/kn-in.js
/ko.js
/kok.js
/kok-in.js
/ko-kp.js
/ko-kr.js
/ks.js
/ks-arab.js
/ks-arab-in.js
/ksb.js
/ksb-tz.js
/ksf.js
/ksf-cm.js
/ksh.js
/ksh-de.js
/ks-in.js
/kw.js
/kw-gb.js
/ky.js
/ky-cyrl.js
/ky-cyrl-kg.js
/ky-kg.js
/lag.js
/lag-tz.js
/lb.js
/lb-lu.js
/lg.js
/lg-ug.js
/LICENSE.md
/lkt.js
/lkt-us.js
/ln.js
/ln-ao.js
/ln-cd.js
/ln-cf.js
/ln-cg.js
/lo.js
/lo-la.js
/lrc.js
/lrc-iq.js
/lrc-ir.js
/lt.js
/lt-lt.js
/lu.js
/lu-cd.js
/luo.js
/luo-ke.js
/luy.js
/luy-ke.js
/lv.js
/lv-lv.js
/mas.js
/mas-ke.js
/mas-tz.js
/mer.js
/mer-ke.js
/mfe.js
/mfe-mu.js
/mg.js
/mgh.js
/mgh-mz.js
/mg-mg.js
/mgo.js
/mgo-cm.js
/mk.js
/mk-mk.js
/ml.js
/ml-in.js
/mn.js
/mn-cyrl.js
/mn-cyrl-mn.js
/mn-mn.js
/mr.js
/mr-in.js
/ms.js
/ms-bn.js
/ms-latn.js
/ms-latn-bn.js
/ms-latn-my.js
/ms-latn-sg.js
/ms-my.js
/ms-sg.js
/mt.js
/mt-mt.js
/mua.js
/mua-cm.js
/my.js
/my-mm.js
/mzn.js
/mzn-ir.js
/naq.js
/naq-na.js
/nb.js
/nb-no.js
/nb-sj.js
/nd.js
/nd-zw.js
/ne.js
/ne-in.js
/ne-np.js
/nl.js
/nl-aw.js
/nl-be.js
/nl-bq.js
/nl-cw.js
/nl-nl.js
/nl-sr.js
/nl-sx.js
/nmg.js
/nmg-cm.js
/nn.js
/nnh.js
/nnh-cm.js
/nn-no.js
/no.js
/no-no.js
/nr.js
/nr-za.js
/nso.js
/nso-za.js
/nus.js
/nus-sd.js
/nus-ss.js
/nyn.js
/nyn-ug.js
/om.js
/om-et.js
/om-ke.js
/or.js
/or-in.js
/os.js
/os-ge.js
/os-ru.js
/pa.js
/pa-arab.js
/pa-arab-pk.js
/package.json
/pa-guru.js
/pa-guru-in.js
/pl.js
/pl-pl.js
/prg.js
/prg-001.js
/ps.js
/ps-af.js
/pt.js
/pt-ao.js
/pt-br.js
/pt-ch.js
/pt-cv.js
/pt-gq.js
/pt-gw.js
/pt-lu.js
/pt-mo.js
/pt-mz.js
/pt-pt.js
/pt-st.js
/pt-tl.js
/qu.js
/qu-bo.js
/qu-ec.js
/qu-pe.js
/README.md
/rm.js
/rm-ch.js
/rn.js
/rn-bi.js
/ro.js
/rof.js
/rof-tz.js
/ro-md.js
/ro-ro.js
/ru.js
/ru-by.js
/ru-kg.js
/ru-kz.js
/ru-md.js
/ru-ru.js
/ru-ua.js
/rw.js
/rwk.js
/rwk-tz.js
/rw-rw.js
/sah.js
/sah-ru.js
/saq.js
/saq-ke.js
/sbp.js
/sbp-tz.js
/se.js
/se-fi.js
/seh.js
/seh-mz.js
/se-no.js
/ses.js
/se-se.js
/ses-ml.js
/sg.js
/sg-cf.js
/shi.js
/shi-latn.js
/shi-latn-ma.js
/shi-tfng.js
/shi-tfng-ma.js
/si.js
/si-lk.js
/sk.js
/sk-sk.js
/sl.js
/sl-si.js
/smn.js
/smn-fi.js
/sn.js
/sn-zw.js
/so.js
/so-dj.js
/so-et.js
/so-ke.js
/so-so.js
/sq.js
/sq-al.js
/sq-mk.js
/sq-xk.js
/sr.js
/sr-cyrl.js
/sr-cyrl-ba.js
/sr-cyrl-me.js
/sr-cyrl-rs.js
/sr-cyrl-xk.js
/sr-latn.js
/sr-latn-ba.js
/sr-latn-me.js
/sr-latn-rs.js
/sr-latn-xk.js
/ss.js
/ss-sz.js
/ssy.js
/ssy-er.js
/ss-za.js
/st.js
/st-ls.js
/st-za.js
/sv.js
/sv-ax.js
/sv-fi.js
/sv-se.js
/sw.js
/swc.js
/swc-cd.js
/sw-cd.js
/sw-ke.js
/sw-tz.js
/sw-ug.js
/ta.js
/ta-in.js
/ta-lk.js
/ta-my.js
/ta-sg.js
/te.js
/te-in.js
/teo.js
/teo-ke.js
/teo-ug.js
/tg.js
/tg-cyrl.js
/tg-cyrl-tj.js
/th.js
/th-th.js
/ti.js
/ti-er.js
/ti-et.js
/tig.js
/tig-er.js
/tk.js
/tk-tm.js
/tl.js
/tn.js
/tn-bw.js
/tn-za.js
/to.js
/to-to.js
/tr.js
/tr-cy.js
/tr-tr.js
/ts.js
/ts-za.js
/twq.js
/twq-ne.js
/tzm.js
/tzm-latn.js
/tzm-latn-ma.js
/tzm-ma.js
/ug.js
/ug-arab.js
/ug-arab-cn.js
/ug-cn.js
/uk.js
/uk-ua.js
/ur.js
/ur-in.js
/ur-pk.js
/uz.js
/uz-arab.js
/uz-arab-af.js
/uz-cyrl.js
/uz-cyrl-uz.js
/uz-latn.js
/uz-latn-uz.js
/vai.js
/vai-latn.js
/vai-latn-lr.js
/vai-vaii.js
/vai-vaii-lr.js
/ve.js
/ve-za.js
/vi.js
/vi-vn.js
/vo.js
/vo-001.js
/vun.js
/vun-tz.js
/wae.js
/wae-ch.js
/wal.js
/wal-et.js
/xh.js
/xh-za.js
/xog.js
/xog-ug.js
/yav.js
/yav-cm.js
/yi.js
/yi-001.js
/yo.js
/yo-bj.js
/yo-ng.js
/yue.js
/yue-hk.js
/zgh.js
/zgh-ma.js
/zh.js
/zh-cn.js
/zh-hans.js
/zh-hans-cn.js
/zh-hans-hk.js
/zh-hans-mo.js
/zh-hans-sg.js
/zh-hant.js
/zh-hant-hk.js
/zh-hant-mo.js
/zh-hant-tw.js
/zh-hk.js
/zh-tw.js
/zu.js
/zu-za.js
